<!DOCTYPE html>
<head>
  <title>Login</title>
  <meta chatset="UTF-8">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="signup" style="background-color:cyan" >
  <h1 style="background-color:cyan;color:blue;">
  	Login
  </h1>
  <hr>
  <div>
  	Please enter your username for login: <br>
  	<input type="text" name="username" placeholder="ExampleUsername"> <br>
    <a href="signup.html" style="color:blue;">Don't have an account? Sign up here!</a>
  </div>
</body>