* {

  font-family: sans-serif;
}

li {
  display: block;
}

.text-center {
  text-align: center;	
}

.wrapper {
  margin: 50px 50px;

}


.categoryList li {
  margin: 10px 0;
  padding: 10px 15px;
  /*border: 1px solid #323232;*/
  border-radius: 5px;
  background-color: #d9b4f7;
}
/*.categoryList label {
  color: #fff;
}*/

.categoryList form {
	margin-bottom: 0;
}

.btn {
  margin:0 2.5px;
  padding: 12px 30px;
  vertical-align: middle;
  background-color: #323232;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

  .btn:hover {
    background-color: #e6ae49;
  }

 input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
        border: 1px solid #ddd;
        -webkit-border-radius: 0px;
        /*border-radius: 0px;*/
        vertical-align: middle;
        color: #888;
        outline: none;
        margin-left: 5px;
        margin-right: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 13px;
        padding: 10px 10px;
        display: inline-block;
        transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;

    }
.cat_btn {
  /*float: right;*/
}
  .cat_btn:after {
    clear: both;
  }


.cat_insert_btn button {
  padding-left: 80px;
  padding-right: 80px;
}

        input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
            border-color: #e6ae49;
            color: #323232;
        }


